{%- comment -%}#
  {% render 'breadcrumbs' %}
{%- endcomment -%}
{% unless template == 'index'
   or template == 'cart'
   or template contains 'page.brands'
   or template == 'search'
   or template contains 'customers/'
   or template == '404'
   or template == 'page'
   or template == 'page.contact'
   or template == 'article'
   or template == 'blog'
%}
<section class="breadcrumbs-snippet" role="navigation" aria-label="breadcrumbs">
  <div class="container">
    <a href="/" title="{{ 'homepage.link_to_name' | t }}">{{ 'homepage.link_to_name' | t }}</a>
    {% if template contains 'faq-page' %}
      <span aria-hidden="true" class="breadcrumbs-arrow"></span>
      {{ 'general.faq.breadcrumb_html' | t }}
    {% endif %}
    {% if template contains 'page' %}
      <span aria-hidden="true" class="breadcrumbs-arrow"></span>
      <span>{{ page.title }}</span>
    {% elsif template contains 'product' %}
      {% if collection.url %}
        <span aria-hidden="true" class="breadcrumbs-arrow"></span>
        {{ collection.title | link_to: collection.url }}
      {% endif %}
      <span aria-hidden="true" class="breadcrumbs-arrow"></span>
      <span>{{ product.title }}</span>
    {% elsif template contains 'collection' and collection.handle %}
      <span aria-hidden="true" class="breadcrumbs-arrow"></span>
      {% if current_tags %}
        {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
        {{ collection.title | link_to: url }}
        <span aria-hidden="true" class="breadcrumbs-arrow"></span>
        <span>{{ current_tags | join: " + " }}</span>
      {% else %}
        <span>{{ collection.title }}</span>
      {% endif %}
    {% elsif template == 'blog' %}
      <span aria-hidden="true" class="breadcrumbs-arrow"></span>
      {% if current_tags %}
      {{ blog.title | link_to: blog.url }}
        <span aria-hidden="true" class="breadcrumbs-arrow"></span>
        <span>{{ current_tags | join: " + " }}</span>
      {% else %}
      <span>{{ blog.title }}</span>
      {% endif %}
    {% elsif template == 'article' %}
      <span aria-hidden="true" class="breadcrumbs-arrow"></span>
      {{ blog.title | link_to: blog.url }}
      <span aria-hidden="true" class="breadcrumbs-arrow"></span>
      <span>{{ article.title }}</span>
    {% else %}
    <span aria-hidden="true" class="breadcrumbs-arrow"></span>
    <span>{{ page_title }}</span>
    {% endif %}
  </div>
</section>

{% endunless %}