
{%- comment -%}
  {% render 'content-background-image', data: section.settings, id: section.id, section: 'not-hero' or blank %}
{%- endcomment -%}
{% if data.image %}
  {% assign thumbnail = data.image | img_url: '1440x770', crop: 'center' %}
  {% assign one_x_image = data.image | img_url: '1440x770', crop: 'center' %}
  {% assign two_x_image = data.image | img_url: '2880x1540', crop: 'center' %}

  {% if data.mob_image != blank %}
    {% assign mob_thumbnail = data.mob_image | img_url: '200x200', crop: 'center' %}
    {% assign mob_one_x_image = data.mob_image | img_url: '1000x', crop: 'center' %}
    {% assign mob_two_x_image = data.mob_image | img_url: '750x930', crop: 'center' %}
  {% else %}
    {% assign mob_thumbnail = data.image | img_url: '200x200', crop: 'center' %}
    {% assign mob_one_x_image = data.image | img_url: '375x465', crop: 'center' %}
    {% assign mob_two_x_image = data.image | img_url: '750x930', crop: 'center' %}
  {% endif %}

  <section id="content-background-image-{{ id }}" class="content-background-image-snippet content-background-image--full">
    <div class="content-wrapper">

      <div class="content-container" style="align-items: {{ data.text_vertical_position }}">
  
        <div class="container" style="justify-content: {{ data.text_position }};">
          <div class="text-container" style="align-items: {{ data.text_alignment }};">
            {% assign text_align = 'left' %}
            {% if data.text_alignment == 'center' %}
              {% assign text_align = 'center' %}
            {% endif %}
            {% if data.text_alignment == 'flex-end' %}
              {% assign text_align = 'right' %}
            {% endif %}

            <h3 class="heading-1 bold {% if section == 'not-hero'%} not-hero {% endif %}" style="text-align: {{ text_align }};">
              {{ data.title }}
            </h3>

            {% if data.text != blank %}
              <p style="color: {{ data.text_color }}; text-align: {{ text_align }};" class="content-text-paragraph">
                {{ data.text }}
              </p>
            {% endif %}
              
            {% if data.cta_text != blank %}
              <a 
                href="{{ data.link }}"
                class="btn btn--primary cta-bkg-image"
              >{{ data.cta_text }}</a>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="image-container">
        <img
          class="img-main" fetchpriority="high"
             {% comment %}
             data-lazy-load
             
          src="{{ thumbnail }}"
          {% endcomment %}
          src="{{ data.image | img_url: '2000x'}}"
          data-src="{{ one_x_image }}"
          data-srcset="{{ one_x_image }} 1x, {{ two_x_image }} 2x,"
          alt="{{ data.image.alt }}" />

          <img
            class="img-mob"
              fetchpriority="high"
               data-lazy-load
            src="{{ mob_one_x_image }}"
            data-src="{{ mob_one_x_image }}"
            data-srcset="{{ mob_one_x_image }} 1x, {{ mob_two_x_image }} 2x,"
            alt="{{ data.mob_image.alt }}" />
      </div>
    </div>
  </section>

  <style>
    #content-background-image-{{ id }} {
      background-color: {{ data.text_container_background_color }};
    }

    #content-background-image-{{ id }} .heading-1 {
      color: {{ data.text_color }};
    }

    @media (min-width: 1200px) {
      div#shopify-section-template--15619124428990__1612956442369ba9bf .image-container{
        min-height: 1020px !important;
      }
      
    }
    

    {% if data.cta_colour != blank %}
      #content-background-image-{{ id }} .btn {
        background-color: {{ data.cta_colour }};
        border-color: {{ data.cta_colour }};
        color: {{ data.cta_text_colour }};
      }

      #content-background-image-{{ id }} .btn:hover {
        background: {{ data.cta_colour | color_modify: 'alpha', 0.8 }};
      }
    {% endif %}
  </style>
{% endif %}
  