{%- comment -%}
This file has been modified by the Yoast SEO for Shopify app.
You can learn more about this (and learn how to cleanly revert these changes) at https://yoa.st/removing-theme-changes.
{%- endcomment -%}
<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
<head>{% render 'yoast-seo' %}
  {% include 'gtm-script' %}
  <script>
    window.dataLayer = window.dataLayer || [];
    dataLayer.push({
      ecommerce: {
        currencyCode: '{{ shop.currency }}',
      }
    });	

    {% if customer %}
      window.dataLayer.push({
        event: 'dl_user_data',
        cart_total: '{{ cart.total_price | divided_by: 100.00 }}',
        user_properties: {
          visitor_type: 'logged_in',
          customer_id: '{{ customer.id }}',
          customer_email: '{{ customer.email }}',
          customer_order_count: '{{ customer.orders_count }}',
          customer_total_spent: {{ customer.total_spent | divided_by: 100.00 }},
          customer_tags: '{{ customer.tags }}',
        }
      });
    {% else %}
      window.dataLayer.push({
        event: 'dl_user_data',
        cart_total: {{ cart.total_price | divided_by: 100.00 }},
        user_properties: {
          visitor_type: 'guest',
        }
      });
    {% endif %}
  </script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="preconnect" rel="canonical" href="{{ canonical_url }}">
  {{ 'theme.min.css' | asset_url | stylesheet_tag }}
  {% if template == 'collection' %}
    {{ 'cloudsearch.scss.css' | asset_url | stylesheet_tag }}
  {% endif %}

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  {%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<title>{{ seo_title | strip }}</title>
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}

  {%- if page_description -%}
    {%- comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<meta name="description" content="{{ page_description | escape }}">
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
  {%- endif -%}

  {% include 'social-meta-tags' %}
  {% comment %} {% include 'style-tags', layout: 'theme' %} {% endcomment %}
  {% include 'css-variables' %}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', '');
    if (navigator.cookieEnabled) document.documentElement.classList.remove('supports-no-cookies');

    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        fromTextHtml: {{ 'products.product.from_text_html' | t: price: '[[price]]' | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }},
      moneyWithCurrencyFormat: {{ shop.money_with_currency_format | json }},
      turbolinksEnabled: {{ settings.turbolinks_enabled }}
    };
  </script>

  {% if (settings.turbolinks_enabled) %}
    <script src="https://unpkg.com/turbolinks@5.2.0/dist/turbolinks.js" defer></script>
  {% endif %}

  <script src="https://unpkg.com/jquery@3.6.0/dist/jquery.min.js" async></script>

  {% comment %} {% include 'script-tags', layout: 'theme' %} {% endcomment %}

  {{ content_for_header }}

  {% if template == '404' %}
    <script>
      if (window.dispatchEvent) {
        setTimeout(function() {
          dispatchEvent(new Event('blubolt:load', {
            bubbles: true,
            cancelable: true
          }));
        }, 1000);
      }
    </script>
  {% endif %}
  {% assign yotpo_app_key = settings.yotpo_app_key %}
  <script defer type="text/javascript">
    (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/{{ yotpo_app_key }}/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
  </script>

  {%- comment -%}KLAVIYO{%- endcomment -%}
  {% assign klaviyo_id = settings.klaviyo_id %}
  <script defer type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
  <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id={{ klaviyo_id }}"></script>
  {% render 'shogun-head' %}
</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NC9RD7D"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {% section 'header' %}
  {% section 'peach-bar' %}
  <div data-app-layer-portal="toast"
    data-error-title="{{ 'notification.general.error_title' | t }}"
    data-error-message="{{ 'notification.general.error_message' | t }}"
    data-cart-title-text="{{ 'notification.cart.title' | t }}"
    data-cart-button="{{ 'notification.cart.cart_button' | t }}"></div>

  <main role="main" id="MainContent">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}
  <div class="modal-underlay"
    data-modal-underlay
    data-click-toggle='{"target": "body", "remove": "bb-ds-open,modal-visible,modal-menu,modal-video,modal-product-image-zoom,search-open", "specific": true}'></div>
  {% section 'footer-scripts' %}
<script>window.KlarnaThemeGlobals={};{%case template.name%} {%when"product"%} window.KlarnaThemeGlobals.data_purchase_amount={{product.first_available_variant.price}};window.KlarnaThemeGlobals.productVariants={{product.variants|json}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%when"cart"%} window.KlarnaThemeGlobals.data_purchase_amount={{cart.total_price}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%endcase%}</script>
  <!-- Start of porcelainsuperstore Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=4271bb5a-5173-4495-994d-985ccfe50cf4"> </script>
<!-- End of porcelainsuperstore Zendesk Widget script -->
</body>
</html>
