{%- comment -%}
This file has been modified by the Yoast SEO for Shopify app.
You can learn more about this (and learn how to cleanly revert these changes) at https://yoa.st/removing-theme-changes.
{%- endcomment -%}
{%- comment -%}
  In order to avoid showing "success" message when we post comments
  with invalid format (eg. blank fields), we added logic to make sure it doesn't show.

  Comment help page:
  http://docs.shopify.com/themes/liquid-variables/comment
{%- endcomment -%}

{%- assign new_comment = false -%}
{%- assign number_of_comments = article.comments_count -%}

{%- if comment and comment.created_at -%}
  {%- assign new_comment = true -%}
  {%- assign new_comment_id = comment.id -%}
{%- endif -%}

{%- if new_comment -%}
  {%- comment -%}
    When you refresh the page with submitted comment, the comment is duplicated
    so we added a flag to avoid this situation.
  {%- endcomment -%}
  {%- assign duplicate_comment = false -%}
  {%- for comment in article.comments -%}
    {%- if comment.id == new_comment_id -%}
      {%- assign duplicate_comment = true -%}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}

  {%- unless duplicate_comment -%}
    {%- assign number_of_comments = article.comments_count | plus: 1 -%}
  {%- endunless -%}
{%- endif -%}

<article class="article-template" role="article">

  {% capture date %}{{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}
  {% assign sub_title =  'blogs.article.author_on_date_html' | t: author: article.author, date: date %}
  {% assign displayedTag = '' %}

  {% for tag in article.tags %}
    {% if tag contains 'Category_' %}
      {% assign displayedTag = tag | replace: 'Category_', '' %}
      {% break %}
    {% endif %}
  {% endfor %}
 {% if article.metafields.global.header_img != blank %}
    {% render 'header-article': title: article.title, sub_title: sub_title, img: article.metafields.global.header_img, tag: displayedTag %}
  {% else %}
 
    <div class="container fallback-header-container">
      <h1 class="heading-1 bold">{{ article.title }}</h1>
    </div>
  {% endif %}

  {% if settings.social_sharing_blog %}
    {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
  {% endif %}

  <div class="container">
    <main class="article-content">
      <div class="rte">
        {{ article.content }}
        <span class="icon icon--copy" aria-hidden="true" data-copy-url="" data-copy-title="Copy link" data-copy-message="Copy successful"></span>
      </div>
    </main>
  </div>
</article>

{%- comment -%}Yoast SEO schema control block: start.{%- endcomment -%}
{%- assign yoast_seo_settings = shop.metafields.yoast_seo.settings.value | default: shop.metafields.yoast_seo.settings -%}
{%- if disabled_by_yoast_seo or yoast_seo_settings.schema.useTheme.schema or yoast_seo_settings.schema.useTheme.article -%}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "articleBody": "{{- article.content | strip_html | escape | strip_newlines  -}}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ shop.url }}{{ page.url }}"
  },
  "headline": "{{ article.title }}",
  {% if article.excerpt != blank %}
    "description": "{{ article.excerpt | strip_html }}",
  {% endif %}
  {% if article.image %}
    {% assign image_size = article.image.width | append: 'x' %}
    "image": [
      "https:{{ article | img_url: image_size }}"
    ],
  {% endif %}
  "datePublished": "{{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
  "dateCreated": "{{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
  "author": {
    "@type": "Person",
    "name": "{{ article.author }}"
  },
  "publisher": {
    "@type": "Organization",
    {% if settings.share_image %}
      {% assign image_size = settings.share_image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": "{{ settings.share_image.height }}",
        "url": "https:{{ settings.share_image | img_url: image_size }}",
        "width": "{{ settings.share_image.width }}"
      },
    {% elsif article.image %}
      {% assign image_size = article.image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": "{{ article.image.height }}",
        "url": "https:{{ article.image | img_url: image_size }}",
        "width": "{{ article.image.width }}"
      },
    {% endif %}
    "name": "{{ shop.name }}"
  }
}
{%- comment -%}Yoast SEO schema control block: end.{%- endcomment -%}
</script>
{%- endif -%}
