{% comment %}
  This page represents the /collections and /products pages.
{% endcomment %}

<div class="list-collections-content">
  {% render 'header-collections', title: page_title %}
  
  <div class="container">
    <ul class="grid-list">
      {% for collection in collections %}
        {% unless collection.handle == 'frontpage' %}
          <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: title }}" class="cl-product-card" data-preloadlink="true">
            
            <div class="cl-product-card-image">
              {% if collection.image != blank or collection.products.first != blank %}
                {%- assign image_object = collection.image | default: collection.products.first.featured_image -%}
                <img
                  s
                  data-lazy-load
                  data-src="{{ image_object | img_url: '300x300' }}"
                  src="{{ image_object | img_url: '100x100' }}"
                  alt="{{ image_object.alt | escape }}">
              {% else %}
                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
              {% endif %}
            </div>
  
            {% comment %} Description {% endcomment %}
            <div class="cl-product-card-info">
              <h2 class="cl-product-card-name">{{ collection.title }}</h2>
            </div>
          </a>
        {% endunless %}
      {% endfor %}
    </ul>
  </div>
</div>
