{%- comment -%}
This file has been modified by the Yoast SEO for Shopify app.
You can learn more about this (and learn how to cleanly revert these changes) at https://yoa.st/removing-theme-changes.
{%- endcomment -%}

{% assign product = all_products[section.settings.product]%}
{% assign current_variant = product.selected_variant %}
{%- comment -%}if we can't get a selected variant get the first...{%- endcomment -%}
{% if current_variant == blank %}
  {% assign current_variant = product.variants.first %}
{% endif %}

{% if product %}
<section class="features-product-section">
  <div class="container">
    <div class="product-details-wrapper">
      <div class="product-details-gallery-wrapper">
        {% render 'product-images', product: product, featured_image: product.featured_image %}
      </div>
      
      <div class="product-details-form-wrapper">
        {% render 'product-title', product: product %}
        {% render 'product-vendor', product: product %}
        {% render 'product-details-price', product: product, current_variant: current_variant %}
        {% render 'product-form', product: product, current_variant: current_variant %}
      </div>

    </div>
  </div>
</section>
{% endif %}

{% schema %}
  {
    "name": "Featured product",
    "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "Product"
      }
    ],
    "blocks": [
      {
        "type": "swatch",
        "name": "Swatch",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Colour name"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Swatch Image",
            "info": "Recommended size: 52x52"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured product",
        "category": "Baseline"
      }
    ]
  }
{% endschema %}

{%- comment -%}Yoast SEO schema control block: start.{%- endcomment -%}
{%- assign yoast_seo_settings = shop.metafields.yoast_seo.settings.value | default: shop.metafields.yoast_seo.settings -%}
{%- if disabled_by_yoast_seo or yoast_seo_settings.schema.useTheme.schema or yoast_seo_settings.schema.useTheme.product -%}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "{{ product.title | escape }}",
  "url": "{{ shop.url }}{{ product.url }}",
  {% if product.featured_image %}
    {% assign image_size = product.featured_image.width | append: 'x' %}
    "image": [
      "https:{{ product.featured_image.src | img_url: image_size }}"
    ],
  {% endif %}
  "description": "{{ product.description | strip_html | escape }}",
  {% if current_variant.sku != blank %}
    "sku": "{{ current_variant.sku }}",
  {% endif %}
  "brand": {
    "@type": "Thing",
    "name": "{{ product.vendor | escape }}"
  },
  {% if product.variants %}
    "offers": [
      {% for variant in product.variants %}
        {
          "@type" : "Offer",
          "availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : "{{ variant.price | divided_by: 100.00 }}",
          "priceCurrency" : "{{ shop.currency }}",
          "url" : "{{ shop.url }}{{ variant.url }}",
          "itemOffered" :
          {
              "@type" : "Product",
              {% if variant.image %}
                {% assign variant_image_size = variant.image.width | append: 'x' %}
                "image": "http:{{ variant.image.src | img_url: variant_image_size }}",
              {% endif %}
              {% if variant.title != blank %}
                "name" : "{{ variant.title | escape }}",
              {% endif %}
              {% if variant.sku != blank %}
                "sku": "{{ variant.sku }}",
              {% endif %}
              {% if variant.weight != blank %}
                "weight": {
                  "@type": "QuantitativeValue",
                  {% if variant.weight_unit != blank %}
                    "unitCode": "{{ variant.weight_unit }}",
                  {% endif %}
                  "value": "{{ variant.weight | weight_with_unit: variant.weight_unit }}"
                },
              {% endif %}
              "url": "{{ shop.url }}{{ variant.url }}"
          }
        }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
  {% endif %}
}
{%- comment -%}Yoast SEO schema control block: end.{%- endcomment -%}
</script>
{%- endif -%}
