{% layout 'password' %}

<style>
  .text-input-password::placeholder {
    color: {{ section.settings.text_color }};
  }

  .image-filter {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: {{ section.settings.filter | color_modify: 'alpha', section.settings.opacity }};
  }
</style>

<div class="password-content" 
  style="
  {% if section.settings.background_image == blank %}
    background: linear-gradient(147.38deg, #BF3FF5 -6.62%, #647CE7 27.54%, #2EA1DF 58.73%, #00D0BB 105.09%);
  {% else %}
    background-image: url({{ section.settings.background_image | img_url: '2560x', crop: 'center' }});
  {% endif %}
  ">
  <div {% if section.settings.filter != blank %}class="image-filter"{% endif %}></div>
    <a 
      style="color: {{ section.settings.text_color }}" 
      href="#" 
      class="password-toggle" 
      data-password-toggle 
      data-password-open
      data-aid="password-toggle">
      {{ 'general.password_page.login_form_heading' | t }}
    </a>

    <section class="password-content-inner" data-content>
      <div class="password-container">
        <a class="hide back-arrow" data-password-toggle data-back-arrow>
          <img src="{{ 'icon-arrow-password.svg' | asset_url }}" alt="Back arrow" aria-label="Back arrow">
        </a>
        {%- if section.settings.logo != blank -%}
          <img src="{{ section.settings.logo | img_url: '250x' }}" />
        {% else %}
          {%- capture logo_src -%}{{ 'logo.svg' | asset_url }}{%- endcapture -%}
          <img
            src="{{ logo_src }}"
            alt="{{ section.settings.logo.alt | default: shop.name }}">
        {%- endif -%}
        <div data-content-inner>
          <h1 class="title" style="color: {{ section.settings.text_color }}">{{ section.settings.title }}</h1>
          <p class="text" style="color: {{ section.settings.text_color }}">{{ section.settings.sub_text }}</p>
          
          <div class="password-socials">
            {% render 'social-media-icons' %}
          </div>
    
          {% form 'customer' %}
            {{ form.errors | default_errors }}
            {% if form.posted_successfully? %}
              <p class="text" style="color: {{ section.settings.text_color }}">
                {{ 'general.newsletter_form.confirmation' | t }}
              </p>
            {% else %}
              <div class="form-container">
                <input type="hidden" name="contact[tags]" value="newsletter">
                <label for="newsletter-form-email" class="hide">{{ 'general.newsletter_form.email_placeholder' | t }}</label>
                <input 
                  type="email"
                  name="contact[email]"
                  id="newsletter-form-email"
                  value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
                  placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                  autocorrect="off"
                  autocapitalize="off"
                  class="text-input-password text"
                  aria-label="Email address for newsletter"
                  required
                  style="color: {{ section.settings.text_color }}; border: 2px solid {{ section.settings.text_color }};">
                <button 
                  type="submit" 
                  name="commit" 
                  id="Subscribe" 
                  class="submit"
                  style="background-color: {{ section.settings.text_color }} ; color: {{ section.settings.secondary_color }}"
                  >
                  <span>{{ 'general.newsletter_form.submit' | t }}</span>
                </button>
              </div>
              <p class="text-small" style="color: {{ section.settings.text_color }}">{{ section.settings.newsletter_text }}</p>
            {% endif %}
          {% endform %}
        </div>

        {%- comment -%}password form{%- endcomment -%}
        <div class="hide form-container" data-password-container>
          {% form 'storefront_password' %}
            <input 
              class="text-input-password"
              type="password"
              name="password"
              id="Password"
              data-aid="storefront-password"
              placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
              style="color: {{ section.settings.text_color }}; border: 2px solid {{ section.settings.text_color }};">
            <button 
              type="submit" 
              name="commit" 
              id="Subscribe" 
              class="submit"
              style="background-color: {{ section.settings.text_color }} ; color: {{ section.settings.secondary_color }}"
            >
              <span>{{ 'general.password_page.login_form_submit' | t }}</span>
            </button>
            <div class="text-small password-error" style="color: {{ section.settings.text_color }}">
              {{ form.errors | default_errors }}
            </div>
          {% endform %}
        </div>
      </div>
    </section>
    

    <script>
      //hide elements when toggling password form
      document.addEventListener("DOMContentLoaded", function() {
        var passwordTogglers = document.querySelectorAll('[data-password-toggle]');
        for (var i = 0; i < passwordTogglers.length; i++) {
          passwordTogglers[i].addEventListener("click", function(e) {
            e.preventDefault();
            var form = document.querySelector('[data-password-container]');
            var content = document.querySelector('[data-content]');
            var contentInner = document.querySelector('[data-content-inner]');
            var backArrow = document.querySelector('[data-back-arrow]');
            var passwordOpener = document.querySelector('[data-password-open]');
            form.classList.toggle('hide');
            contentInner.classList.toggle('hide');
            backArrow.classList.toggle('hide');
            passwordOpener.classList.toggle('hide');
            content.classList.toggle('centralize');
          });
        }
      });
    </script>
</div>

{% schema %}
  {
    "name": "Password Content",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo for Password Page"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image for Password Page"
      },
      {
        "type": "text",
        "id": "title",
        "label": "title",
        "default": "Coming Soon"
      },
      {
        "type": "text",
        "id": "sub_text",
        "label": "Sub Text",
        "default": "We are making some changes to our site and will be back very soon."
      },
      {
        "type": "text",
        "id": "newsletter_text",
        "label": "Newsletter text",
        "default": "Sign up to recieve our latest news and updates."
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Primary Color",
        "default": "#FFF"
      },
      {
        "type": "color",
        "id": "secondary_color",
        "label": "Secondary Color",
        "default": "#000"
      },
      {
        "type": "color",
        "id": "filter",
        "label": "Background Image Filter"
      },
      {
        "type":   "range",
        "id":     "opacity",
        "min":       0,
        "max":       1,
        "step":      0.1,
        "unit":      "op",
        "label":     "Background Image Filter Opacity",
        "default": 0
      }
    ]
  }
{% endschema %}
